body {
    font-family: 'Play', sans-serif;
}

.notification {
    display: none;
    position: fixed;
    background-color: #1b1b2f;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateY(-20px);
    width: 400px; /* Lebar notifikasi */
    height: 72px; /* Tinggi notifikasi */
    box-sizing: border-box;
    overflow: hidden; /* Memastikan konten tetap di dalam container */
}

.game-image {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 10px;
    object-fit: cover; /* Memastikan gambar sesuai dengan container */
}

.game-info {
    overflow: hidden;
    line-height: 1.2em;
}

.game-info h2 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

.game-info p {
    margin: 2px 0;
    font-size: 0.9em;
}

/* Desktop */
@media (min-width: 768px) {
    .notification {
        top: 10px;
        left: 10px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .notification {
        top: 10px;
        right: 10px;
        width: 90%;
        height: auto;
    }

    .game-image {
        width: 50px;
        height: 50px;
    }

    .game-info h2 {
        font-size: 0.9em;
    }

    .game-info p {
        font-size: 0.8em;
    }
}
